$primaryColor: #D41028;
$secondColor: #96001C;
$mainTextColor: #141414;
$headerBannerTextColor: #EFEFEF;

/*IconFont variables*/
$icomoon-font-family: "academy-smart" ;
$icomoon-font-path: "../fonts";


